[Unit]
Description=Jøkulhlaup development server

[Service]
Type=simple
User=alexander
ExecStart=/home/alexander/go/src/github.com/xyproto/jokulhlaup/compileloop.sh &
WorkingDirectory=/home/alexander/go/src/github.com/xyproto/jokulhlaup
PIDFile=/tmp/jokulhlaupweb.pid
Environment=GOPATH=/home/alexander/go

[Install]
WantedBy=multi-user.target
